<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/add" method="post">
        Title<input type="text" name="title">
        Technolgies<input type="text" name="technologies">
        Budget<input type="text" name="budget">
        Description<input type="text" name="description">

        <!-- <input type="text"> -->
        Email<input type="email" name="email" id="">
        <input type="submit" value="submit">
    </form>
</body>

</html>